// font
:root {
    --font-family-base: "M PLUS Rounded 1c", sans-serif;
}

// color
:root {
    --color-bg-base: #fafafa;
    --color-font-base: #363636;
    --color-font-base-light: #4a4a4a;
    --color-font-base-extra-light: #747474;
    --color-black: #2a2a2a;
    --color-black-hover: #373d43;
    --color-white: #e8e8e8;
    --color-grey: #eeeeee;
    --color-grey-dark: #dbdbdb;
    --color-grey-extra-dark: #808080;
    --color-border: #c9c9c9;
    --color-border02: #e0e0e0;
    --color-link: #2c84cb;
    --color-link-hover: #1f6fb0;
    --color-outline: #2c84cb;
    --color-outline-inset: #b5defb;
}

// content-width
:root {
    --width-content: 760px;
}

// z-index
:root {
    --z-index-default: 1;
}
