---
export interface Props {
    pubDate: string;
    updatedDate: string | undefined;
}

const { pubDate, updatedDate } = Astro.props;
---

<div class='time'>
    <time datetime={pubDate}>公開：{pubDate}</time>

    {updatedDate && <time datetime={updatedDate}>更新：{updatedDate}</time>}
</div>

<style lang='scss'>
    @use "/src/styles/global.scss" as g;

    .time {
        display: flex;
        gap: 24px;

        time {
            display: block;
            font-weight: bold;
            opacity: 0.6;
            font-size: 12px;
            margin-bottom: 4px;

            @include g.mq() {
                font-size: 14px;
            }
        }
    }
</style>
